:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100dvh;
  box-sizing: border-box;
  position: relative;
}

a {
  color: #42b883;
}
a:hover {
  color: #42b883;
  opacity: 0.7;
}